.main-game-box {
    display: block;
    display: flex;
    flex-direction: row;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: auto;
    height: 75vh;
    margin: 48px 15%;
}

.combining-area {
    position: relative;
    display: block;
    flex-grow: 5;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: 50px;
    min-width: 120px;
    height: auto;
}

.message-box {
    
}

.chat {
    flex-grow: 3;
    min-width: 144px;
    max-width: 360px;
    margin: 0 auto;
}

.element-list {
    flex-grow: 2;
    min-width: 112px;
    max-width: 240px;
    overflow: auto;
    margin: 0 auto;
}

.element-name {
    text-align: center;
    vertical-align: middle;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    /* width: 50px; */
    height: 32px;
    line-height: 32px;
}

.element-box {
    position: absolute;
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: 70px;
    height: 70px;
}