.main-game-box {
    display: block;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: auto;
    height: auto;
    margin: 24px 24px;
}

.combining-area {
    display: block;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: auto;
    height: auto;
    margin: 64px 64px;
}

.message-box {
    
}

.element-box {
    text-align: center;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: 70px;
    height: 70px;
}

.element-name {
    text-align: center;
    vertical-align: middle;
    border: 1px;
    border-style: solid;
    border-color: #000000;
    width: auto;
    height: 32px;
    line-height: 32px;
}

.element-list {
    margin-left: 32px;
}