.Banner-Image {
  max-width: 100%;
  min-height: 100%;
  /* padding: 20% 20%;  */

  background-image: url("../../public/mountain.jpg");

  background-repeat:no-repeat;
  background-size: cover;
}
.Banner-innerIm {
  top:50%;
}
.Banner-minSize {
  min-height: 50vh;
}
